# Google Apps Script Web App URL (see setup/google-apps-script.js for deploy steps)
VITE_SHEETS_URL=https://script.google.com/macros/s/AKfycbwQi_XO2FGV79p2vAGQYy0yGNmODOlnz6z0TAdRQIQI7VKWJPsWSs7EXuTqAx3cR7Rd/exec
